<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <br />
    <br />
    <div class="container">
        <h1>LISTAR USUARIOS</h1>
      <ul>
        <% users.forEach((user) => { %>

        <li>Nome: <%= user.name %> |--| Email: <%= user.email %> |--| Idade: <%= user.age %>
          <a href="/edit?id=<%=user._id%>">[EDITAR]</a>
          <a href="/remove/<%=user._id%>">[REMOVER]</a>
        </li>
        <% }) %>
      </ul>
    </div>
    <%- include('partials/foot.ejs') %>
  </body>
</html>
